# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Reading Dataset

In [2]:
data = pd.read_csv("Cars_dataset.csv")
data.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Feature_7,Feature_8,Feature_9,Mileage,Engine_spec,Power,Torque,wheel_dimension,seater,City
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Centeral Locking,Child Safety Locks,NaN,23.1 kmpl,998 CC,67.04bhp,90Nm,5,NaN,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Anti Lock Braking System,Centeral Locking,Cd Player,17 kmpl,1497 CC,121.31bhp,150Nm,16,5.0,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Anti Lock Braking System,Centeral Locking,Cd Player,23.84 kmpl,1199 CC,84bhp,114Nm,14,5.0,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Anti Lock Braking System,Centeral Locking,Cd Player,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,14,5.0,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,Anti Lock Braking System,Centeral Locking,Radio,23.65 kmpl,1248 CC,88.5bhp,200Nm,16,5.0,Bangalore

# Selecting Important Column based on General knowledge

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 45 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   it                   8369 non-null   int64
 1   ft                   8369 non-null   object
 2   bt                   8365 non-null   object
 3   km                   8369 non-null   object
 4   transmission         8369 non-null   object
 5   ownerNo              8369 non-null   int64
 6   owner                8369 non-null   object
 7   oem                  8369 non-null   object
 8   model                8369 non-null   object
 9   modelYear            8369 non-null   int64
 10  centralVariantId     8369 non-null   int64
 11  variantName          8369 non-null   object
 12  price                8369 non-null   object
 13  priceActual          1670 non-null   object
 14  priceSaving          0 non-null      float64
 15  priceFixedText       0 non-null      float64
 16  imgUrl               8369 non-null   object
 17  heading              8369 non-null   object
 18  description          8369 non-null   object
 19  Registration Year    8369 non-null   object
 20  Insurance_Type       8369 non-null   object
 21  Fuel                 8369 non-null   object
 22  Seats                8369 non-null   object
 23  Kms Driven           8369 non-null   object
 24  RTO                  8363 non-null   object
 25  Ownership            8368 non-null   object
 26  Engine Displacement  8331 non-null   object
 27  Transmission         8315 non-null   object
 28  Year_of_manufacture  7454 non-null   float64
 29  Feature_1            8304 non-null   object
 30  Feature_2            8304 non-null   object
 31  Feature_3            8294 non-null   object
 32  Feature_4            8293 non-null   object
 33  Feature_5            8283 non-null   object
 34  Feature_6            8275 non-null   object
 35  Feature_7            8261 non-null   object
 36  Feature_8            8242 non-null   object
 37  Feature_9            7267 non-null   object
 38  Mileage              8369 non-null   object
 39  Engine_spec          8368 non-null   object
 40  Power                8361 non-null   object
 41  Torque               8341 non-null   object
 42  wheel_dimension      8249 non-null   object
 43  seater               5126 non-null   float64
 44  City                 8369 non-null   object
dtypes: float64(4), int64(4), object(37)
memory usage: 2.9+ MB

In [4]:
data['it'].unique()

array([0])

## Dropping "it" Column

In [6]:
data.drop(columns='it',axis =1, inplace = True)

## Dropping owner column
    -> onwerNo and Owner gives the same data

In [7]:
data.drop(columns='owner',axis=1,inplace =True)

## Dropping CentralVariantId as it is not important to predict the model price

In [9]:
data.drop(columns='centralVariantId',axis=1,inplace=True)

## Dropping actual price

In [15]:
data.shape

(8369, 42)

In [14]:
data['priceActual'].isnull().sum()

6699

In [16]:
print((6699/8369)*100)

80.04540566375911

In [17]:
data.drop(columns='priceActual',axis =1, inplace = True)

## Dropping price savings as it is not need for price prediction

In [19]:
data.drop(columns='priceSaving',axis =1, inplace =True)

## Dropping pricefixedtext

In [20]:
data.drop(columns='priceFixedText', axis = 1, inplace = True)

## Dropping ImgUrl

In [22]:
data.drop(columns='imgUrl', axis = 1, inplace = True)

In [23]:
data.drop(columns='heading', axis =1, inplace = True)

In [24]:
data['description'].unique()

array(['High chances of sale in next 6 days'], dtype=object)

In [25]:
data.drop(columns='description', axis = 1, inplace = True)

In [26]:
data.drop(columns='Fuel', axis = 1, inplace = True)

In [27]:
data.drop(columns='Kms Driven', axis = 1, inplace = True)

In [28]:
data.drop(columns='RTO', axis = 1, inplace = True)

In [29]:
data.drop(columns='Ownership', axis = 1, inplace = True)

In [30]:
data.drop(columns='Transmission', axis = 1, inplace = True)

In [31]:
data.drop(columns='Engine Displacement', axis = 1, inplace = True)

In [32]:
data.drop(columns='Power', axis = 1, inplace = True)

In [33]:
data.drop(columns='Torque', axis = 1, inplace = True)

In [34]:
data.drop(columns='wheel_dimension', axis = 1, inplace = True)

In [35]:
data.drop(columns='seater', axis = 1, inplace = True)

In [38]:
data.drop(columns='Year_of_manufacture', axis = 1, inplace = True)

# Checking Dataset

In [39]:
data.head()

,ft,bt,km,transmission,ownerNo,oem,model,modelYear,variantName,price,...,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Mileage,Engine_spec,City
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,VXI,₹ 4 Lakh,...,Air Conditioner,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Centeral Locking,Child Safety Locks,NaN,23.1 kmpl,998 CC,Bangalore
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,...,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player,17 kmpl,1497 CC,Bangalore
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,1.2 Revotron XZ,₹ 5.85 Lakh,...,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player,23.84 kmpl,1199 CC,Bangalore
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,1.2 Kappa S Option,₹ 4.62 Lakh,...,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player,19.1 kmpl,1197 CC,Bangalore
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,DDiS 200 Zeta,₹ 7.90 Lakh,...,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Radio,23.65 kmpl,1248 CC,Bangalore

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ft                 8369 non-null   object
 1   bt                 8365 non-null   object
 2   km                 8369 non-null   object
 3   transmission       8369 non-null   object
 4   ownerNo            8369 non-null   int64
 5   oem                8369 non-null   object
 6   model              8369 non-null   object
 7   modelYear          8369 non-null   int64
 8   variantName        8369 non-null   object
 9   price              8369 non-null   object
 10  Registration Year  8369 non-null   object
 11  Insurance_Type     8369 non-null   object
 12  Seats              8369 non-null   object
 13  Feature_1          8304 non-null   object
 14  Feature_2          8304 non-null   object
 15  Feature_3          8294 non-null   object
 16  Feature_4          8293 non-null   object
 17  Feature_5          8283 non-null   object
 18  Feature_6          8275 non-null   object
 19  Feature_7          8261 non-null   object
 20  Feature_8          8242 non-null   object
 21  Feature_9          7267 non-null   object
 22  Mileage            8369 non-null   object
 23  Engine_spec        8368 non-null   object
 24  City               8369 non-null   object
dtypes: int64(2), object(23)
memory usage: 1.6+ MB

In [41]:
data.to_csv("Dataset.csv")