# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Dataset

In [2]:
data = pd.read_csv('Dataset.csv')
data.head()

,ft,bt,km,transmission,ownerNo,oem,model,modelYear,variantName,price,...,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Mileage,Engine_spec,seater,City
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,VXI,₹ 4 Lakh,...,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Centeral Locking,Child Safety Locks,NaN,23.1 kmpl,998 CC,NaN,Bangalore
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,...,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player,17 kmpl,1497 CC,5.0,Bangalore
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,1.2 Revotron XZ,₹ 5.85 Lakh,...,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player,23.84 kmpl,1199 CC,5.0,Bangalore
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,1.2 Kappa S Option,₹ 4.62 Lakh,...,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player,19.1 kmpl,1197 CC,5.0,Bangalore
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,DDiS 200 Zeta,₹ 7.90 Lakh,...,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Radio,23.65 kmpl,1248 CC,5.0,Bangalore

In [3]:
data.tail()

,ft,bt,km,transmission,ownerNo,oem,model,modelYear,variantName,price,...,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Mileage,Engine_spec,seater,City
8364,Petrol,Hatchback,"10,000",Manual,1,Maruti,Maruti Celerio,2022,ZXI BSVI,₹ 5.10 Lakh,...,Heater,Adjustable Head Lights,Power Adjustable Exterior Rear View Mirror,Anti Lock Braking System,Centeral Locking,Radio,25.24 kmpl,998 CC,NaN,Kolkata
8365,Petrol,Hatchback,"1,20,000",Manual,1,Maruti,Maruti Alto 800,2014,LXI,₹ 1.80 Lakh,...,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Day Night Rear View Mirror,Passenger Side Rear View Mirror,NaN,22.74 kmpl,796 CC,NaN,Kolkata
8366,Petrol,Sedan,"50,000",Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,C 200 CGI Elegance,₹ 5.50 Lakh,...,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Cd Player,11.74 kmpl,1796 CC,5.0,Kolkata
8367,Petrol,Hatchback,"40,000",Manual,1,Maruti,Maruti Ritz,2012,ZXi,₹ 1.40 Lakh,...,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Centeral Locking,Cd Player,18.5 kmpl,1197 CC,5.0,Kolkata
8368,Diesel,SUV,"1,20,000",Manual,2,Renault,Renault Duster,2017,110PS Diesel RxZ AWD,₹ 5 Lakh,...,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Cd Player,19.72 kmpl,1461 CC,5.0,Kolkata

In [4]:
data.shape

(8369, 25)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ft                 8369 non-null   object
 1   bt                 8365 non-null   object
 2   km                 8369 non-null   object
 3   transmission       8369 non-null   object
 4   ownerNo            8369 non-null   int64
 5   oem                8369 non-null   object
 6   model              8369 non-null   object
 7   modelYear          8369 non-null   int64
 8   variantName        8369 non-null   object
 9   price              8369 non-null   object
 10  Registration Year  8369 non-null   object
 11  Insurance_Type     8369 non-null   object
 12  Feature_1          8304 non-null   object
 13  Feature_2          8304 non-null   object
 14  Feature_3          8294 non-null   object
 15  Feature_4          8293 non-null   object
 16  Feature_5          8283 non-null   object
 17  Feature_6          8275 non-null   object
 18  Feature_7          8261 non-null   object
 19  Feature_8          8242 non-null   object
 20  Feature_9          7267 non-null   object
 21  Mileage            8369 non-null   object
 22  Engine_spec        8368 non-null   object
 23  seater             5126 non-null   float64
 24  City               8369 non-null   object
dtypes: float64(1), int64(2), object(22)
memory usage: 1.6+ MB

# DataTypes Conversion

In [6]:
data['km']

0       1,20,000
1         32,706
2         11,949
3         17,794
4         60,000
          ...
8364      10,000
8365    1,20,000
8366      50,000
8367      40,000
8368    1,20,000
Name: km, Length: 8369, dtype: object

In [7]:
data['km'] = data['km'].astype(str).str.replace(",","").str.strip()
data['km'] = data['km'].astype(int)

In [8]:
data['ownerNo'] = data['ownerNo'].astype(int)

In [9]:
data['price']

0          ₹ 4 Lakh
1       ₹ 8.11 Lakh
2       ₹ 5.85 Lakh
3       ₹ 4.62 Lakh
4       ₹ 7.90 Lakh
           ...
8364    ₹ 5.10 Lakh
8365    ₹ 1.80 Lakh
8366    ₹ 5.50 Lakh
8367    ₹ 1.40 Lakh
8368       ₹ 5 Lakh
Name: price, Length: 8369, dtype: object

In [10]:
def convert_price(price):
    price = price.replace("₹", "").replace(",", "").strip()
    if 'Lakh' in price:
        return float(price.replace("Lakh", "").strip()) * 10000
    elif 'Crore' in price:
        return float(price.replace("Crore", "").strip()) * 100000
    else:
        return float(price)

# Apply the conversion function to the price column
data['price'] = data['price'].apply(convert_price)

In [11]:
data['Registration Year']

0            2015
1        Feb 2018
2       Sept 2018
3        Dec 2014
4            2015
          ...
8364         2022
8365         2014
8366         2011
8367         2012
8368         2017
Name: Registration Year, Length: 8369, dtype: object

In [12]:
month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec']

def remove_month(date):
    for i in month:
        date = date.replace(i,'').strip()
    return date

data['Registration Year'] = data['Registration Year'].apply(remove_month)

In [13]:
data['Registration Year'].value_counts()

2018                     979
2017                     938
2016                     801
2019                     799
2021                     690
2020                     640
2014                     592
2022                     571
2015                     570
2013                     383
2012                     332
2011                     274
2010                     246
2009                     141
2023                     116
2008                      81
2007                      54
2006                      42
Third Party insurance     42
2004                      25
2005                      20
2003                      13
2002                      10
Comprehensive              7
Third Party                2
Not Available              1
Name: Registration Year, dtype: int64

In [14]:
data['Registration Year'] = data.apply(
    lambda row: row['modelYear'] if row['Registration Year'] in ['Third Party insurance', 'Comprehensive','Third Party','Not Available'] else row['Registration Year'],
    axis=1
)

In [15]:
data['Registration Year'].unique()

array(['2015', '2018', '2014', '2020', '2017', '2021', '2019', '2022',
       '2016', '2011', '2009', '2013', '2010', '2008', '2006', '2012',
       '2005', '2007', '2023', 1995, 1998, '2004', '2003', 2001, '2002',
       2000, 2017, 2018, 2016, 2019, 2007, 2014, 2021, 2020, 2009, 2015,
       2013, 2008, 2010, 2022, 2023, 1985, 1997, 1999], dtype=object)

In [16]:
data.drop(data[data['Insurance_Type'].isin(['1', '2014', '2018', '2', '2019', 'Electric'])].index, inplace=True)

In [17]:
data['Insurance_Type'].unique()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', 'Petrol', 'Diesel', 'Not Available'], dtype=object)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8364 entries, 0 to 8368
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ft                 8364 non-null   object
 1   bt                 8360 non-null   object
 2   km                 8364 non-null   int64
 3   transmission       8364 non-null   object
 4   ownerNo            8364 non-null   int64
 5   oem                8364 non-null   object
 6   model              8364 non-null   object
 7   modelYear          8364 non-null   int64
 8   variantName        8364 non-null   object
 9   price              8364 non-null   float64
 10  Registration Year  8364 non-null   object
 11  Insurance_Type     8364 non-null   object
 12  Feature_1          8299 non-null   object
 13  Feature_2          8299 non-null   object
 14  Feature_3          8289 non-null   object
 15  Feature_4          8288 non-null   object
 16  Feature_5          8278 non-null   object
 17  Feature_6          8270 non-null   object
 18  Feature_7          8256 non-null   object
 19  Feature_8          8237 non-null   object
 20  Feature_9          7264 non-null   object
 21  Mileage            8364 non-null   object
 22  Engine_spec        8363 non-null   object
 23  seater             5124 non-null   float64
 24  City               8364 non-null   object
dtypes: float64(2), int64(3), object(20)
memory usage: 1.7+ MB

In [19]:
data['Feature_1'].unique()

array(['Power Steering', 'Power Windows Front', nan, 'Cup Holders Front',
       'Remote Trunk Opener', 'Accessory Power Outlet',
       'Remote Fuel Lid Opener', 'Low Fuel Warning Light', 'Trunk Light',
       'Cruise Control', 'Drive Modes', 'Adjustable Head Lights',
       'Leather Seats'], dtype=object)

In [20]:
data['Feature_2'].unique()

array(['Power Windows Front', 'Remote Trunk Opener', 'Power Windows Rear',
       'Remote Fuel Lid Opener', nan, 'Low Fuel Warning Light',
       'Navigation System', 'Rear Seat Headrest', 'Heater', 'Tachometer',
       'Accessory Power Outlet', 'Air Quality Control', 'Vanity Mirror',
       'Multifunction Steering Wheel', 'Drive Modes', 'Cup Holders Front',
       'Leather Seats', 'Electronic Multi Tripmeter', 'Fog Lights Front',
       'Air Conditioner', 'Fabric Upholstery', 'Trunk Light',
       'Alloy Wheels'], dtype=object)

In [21]:
data['Mileage']

0        23.1 kmpl
1          17 kmpl
2       23.84 kmpl
3        19.1 kmpl
4       23.65 kmpl
           ...
8364    25.24 kmpl
8365    22.74 kmpl
8366    11.74 kmpl
8367     18.5 kmpl
8368    19.72 kmpl
Name: Mileage, Length: 8364, dtype: object

In [22]:
data.rename(columns={'Mileage':'Mileage kmpl'},inplace=True)

In [23]:
data["Mileage kmpl"] = data['Mileage kmpl'].astype(str).str.replace("kmpl","").str.replace("CC","").str.replace("km/kg","").str.strip()

In [24]:
data['Mileage kmpl'] = pd.to_numeric(data['Mileage kmpl'])

In [25]:
data.rename(columns={'Engine_spec':'Engine CC'},inplace=True)

In [26]:
data["Engine CC"] = data['Engine CC'].astype(str).str.replace("CC","").str.replace("Bhp","").str.replace("bhp","").str.replace("-","").replace("rpm","").str.strip()

In [27]:
data['seater'] = pd.to_numeric(data['seater'])

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8364 entries, 0 to 8368
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ft                 8364 non-null   object
 1   bt                 8360 non-null   object
 2   km                 8364 non-null   int64
 3   transmission       8364 non-null   object
 4   ownerNo            8364 non-null   int64
 5   oem                8364 non-null   object
 6   model              8364 non-null   object
 7   modelYear          8364 non-null   int64
 8   variantName        8364 non-null   object
 9   price              8364 non-null   float64
 10  Registration Year  8364 non-null   object
 11  Insurance_Type     8364 non-null   object
 12  Feature_1          8299 non-null   object
 13  Feature_2          8299 non-null   object
 14  Feature_3          8289 non-null   object
 15  Feature_4          8288 non-null   object
 16  Feature_5          8278 non-null   object
 17  Feature_6          8270 non-null   object
 18  Feature_7          8256 non-null   object
 19  Feature_8          8237 non-null   object
 20  Feature_9          7264 non-null   object
 21  Mileage kmpl       8364 non-null   float64
 22  Engine CC          8364 non-null   object
 23  seater             5124 non-null   float64
 24  City               8364 non-null   object
dtypes: float64(3), int64(3), object(19)
memory usage: 1.7+ MB

In [29]:
data.to_csv("Cleaned__dataset.csv",index=False)